include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include dropbot_dx *
recursive-exclude dropbot_dx *.pyc
recursive-exclude dropbot_dx *.o
